doctype html
html(lang="ru")
  head
    title= 'Веб модуль сервиса "CityStatVision"'
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    script(src='http://www.openlayers.org/api/OpenLayers.js')
    script(src='http://openstreetmap.org/openlayers/OpenStreetMap.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js')
    script(src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js')
  style
    include ../app/css/style.css
    include ../app/leaflet/MarkerCluster.css
    include ../app/leaflet/MarkerCluster.Default.css  