body
div(class='top')
   img(src='../~app/img/logo.png' class='logo')
   a(class='button' href='http://localhost:3000/update') Обновить карту
   div(class='reload' '(click)'='play()') О Программе
  

      